<div class="navbar-fixed">
    <nav class="grey darken-2">
        <div class="nav-wrapper">
            <a routerLink="/" class="brand-logo">Analyzer</a>
            <ul class="right hide-on-med-and-down">
                <li><a class="waves-effect waves-light btn" routerLink='screen1'>Screen1</a></li>
                <li><a class="waves-effect waves-light btn" routerLink="screen2">Screen2</a></li>
                <li><a class="waves-effect waves-light btn" routerLink="screen3">Screen3</a></li>
            </ul>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>